MONGODB_HOST=127.0.0.1
MONGODB_PORT=27017
MONGODB_DATABASE=happy_home
MONGODB_USERNAME=happy_home
MONGODB_PASSWORD=change-me
MONGODB_AUTH_SOURCE=happy_home
VAPID_SUBJECT=mailto:happy-home@example.com
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
